/target

debug/
target/

.idea/
*.iml

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

/modules/infrastructure/Cargo.lock
/modules/command/domain/Cargo.lock
/modules/command/interface-adaptor/Cargo.lock
/modules/command/processor/Cargo.lock
/modules/query/interface-adaptor/Cargo.lock
/modules/query/processor/Cargo.lock

.env
env.sh
*.log

.terraform/
*.lock.hcl

*.env
common.env

_build/