/target

debug/
target/

.idea/
*.iml

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

/Cargo.lock

/infrastructure/Cargo.lock
/command/domain/Cargo.lock
/command/interface-adaptor/Cargo.lock
/command/processor/Cargo.lock
/query/interface-adaptor/Cargo.lock
/query/processor/Cargo.lock

.env
env.sh