image:
  repository: '{{ .Values.refinery.image.repository }}'
  tag: '{{ .Values.refinery.image.tag}}'
  pullPolicy: '{{ .Values.refinery.image.pullPolicy }}'
resources:
  {{- toYaml .Values.refinery.resources | nindent 2 }}
env:
  - name: "DATABASE_URL"
    value: "mysql://{{ requiredEnv "MYSQL_USER_NAME" }}:{{ requiredEnv "MYSQL_USER_PASSWORD" }}@{{ requiredEnv "MYSQL_ENDPOINT" }}:{{ requiredEnv "MYSQL_PORT" }}/{{ requiredEnv "MYSQL_DATABASE" }}"