image:
  repository: '{{ .Values.refinery.image.repository }}'
  tag: '{{ .Values.refinery.image.tag}}'
  pullPolicy: '{{ .Values.refinery.image.pullPolicy }}'
resources:
  {{- toYaml .Values.refinery.resources | nindent 2 }}
env:
  - name: "DATABASE_URL"
    value: "mysql://root:{{ requiredEnv "MYSQL_USER_PASSWORD" }}@aht9aa1e-ceer-mysql.cluster-ctywrcabnmgr.ap-northeast-1.rds.amazonaws.com/ceer"